.btn_default {
  padding: 0 25px;
  line-height: 35px;
  background: #484f63;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#484f63), to(#333745));
  background: -moz-linear-gradient(left top, left bottom, from(#484f63), to(#333745));
  background: -ms-linear-gradient(left top, left bottom, from(#484f63), to(#333745));
  background: -moz-linear-gradient(left top, left bottom, from(#484f63), to(#333745));
  background: linear-gradient(left top, left bottom, from(#484f63), to(#333745));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
  .btn_default:hover {
    background: #3d4354;
    color: #f2f2f2; }
  .btn_default:active {
    background: #282c37;
    color: #ebebeb;
    outline: none;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    background: -webkit-gradient(linear, left top, left bottom, from(#484f63), to(#3d4354));
    background: -moz-linear-gradient(left top, left bottom, from(#484f63), to(#3d4354));
    background: -ms-linear-gradient(left top, left bottom, from(#484f63), to(#3d4354));
    background: -moz-linear-gradient(left top, left bottom, from(#484f63), to(#3d4354));
    background: linear-gradient(left top, left bottom, from(#484f63), to(#3d4354));
    -webkit-transform: translate(-1px, 1px);
    -ms-transform: translate(-1px, 1px);
    -o-transform: translate(-1px, 1px);
    transform: translate(-1px, 1px); }
  .btn_default:disabled {
    background: #C0C0C4;
    color: #EFEFEF; }

.btn_error {
  padding: 0 25px;
  line-height: 35px;
  background: #f3856c;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3856c), to(#ef5e3d));
  background: -moz-linear-gradient(left top, left bottom, from(#f3856c), to(#ef5e3d));
  background: -ms-linear-gradient(left top, left bottom, from(#f3856c), to(#ef5e3d));
  background: -moz-linear-gradient(left top, left bottom, from(#f3856c), to(#ef5e3d));
  background: linear-gradient(left top, left bottom, from(#f3856c), to(#ef5e3d));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }
  .btn_error:hover {
    background: #f17154;
    color: #f2f2f2; }
  .btn_error:active {
    background: #ed4a25;
    color: #ebebeb;
    outline: none;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    background: -webkit-gradient(linear, left top, left bottom, from(#f3856c), to(#f17154));
    background: -moz-linear-gradient(left top, left bottom, from(#f3856c), to(#f17154));
    background: -ms-linear-gradient(left top, left bottom, from(#f3856c), to(#f17154));
    background: -moz-linear-gradient(left top, left bottom, from(#f3856c), to(#f17154));
    background: linear-gradient(left top, left bottom, from(#f3856c), to(#f17154));
    -webkit-transform: translate(-1px, 1px);
    -ms-transform: translate(-1px, 1px);
    -o-transform: translate(-1px, 1px);
    transform: translate(-1px, 1px); }
  .btn_error:disabled {
    background: #C0C0C4;
    color: #EFEFEF; }

.btn_success {
  padding: 0 25px;
  line-height: 35px;
  background: #00703e;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#00703e), to(#003d22));
  background: -moz-linear-gradient(left top, left bottom, from(#00703e), to(#003d22));
  background: -ms-linear-gradient(left top, left bottom, from(#00703e), to(#003d22));
  background: -moz-linear-gradient(left top, left bottom, from(#00703e), to(#003d22));
  background: linear-gradient(left top, left bottom, from(#00703e), to(#003d22));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }
  .btn_success:hover {
    background: #005730;
    color: #f2f2f2; }
  .btn_success:active {
    background: #002414;
    color: #ebebeb;
    outline: none;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    background: -webkit-gradient(linear, left top, left bottom, from(#00703e), to(#005730));
    background: -moz-linear-gradient(left top, left bottom, from(#00703e), to(#005730));
    background: -ms-linear-gradient(left top, left bottom, from(#00703e), to(#005730));
    background: -moz-linear-gradient(left top, left bottom, from(#00703e), to(#005730));
    background: linear-gradient(left top, left bottom, from(#00703e), to(#005730));
    -webkit-transform: translate(-1px, 1px);
    -ms-transform: translate(-1px, 1px);
    -o-transform: translate(-1px, 1px);
    transform: translate(-1px, 1px); }
  .btn_success:disabled {
    background: #C0C0C4;
    color: #EFEFEF; }

.btn_warning {
  padding: 0 25px;
  line-height: 35px;
  background: #e9e335;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#e9e335), to(#d4ce17));
  background: -moz-linear-gradient(left top, left bottom, from(#e9e335), to(#d4ce17));
  background: -ms-linear-gradient(left top, left bottom, from(#e9e335), to(#d4ce17));
  background: -moz-linear-gradient(left top, left bottom, from(#e9e335), to(#d4ce17));
  background: linear-gradient(left top, left bottom, from(#e9e335), to(#d4ce17));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px; }
  .btn_warning:hover {
    background: #e6e01e;
    color: #f2f2f2; }
  .btn_warning:active {
    background: #bdb715;
    color: #ebebeb;
    outline: none;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    background: -webkit-gradient(linear, left top, left bottom, from(#e9e335), to(#e6e01e));
    background: -moz-linear-gradient(left top, left bottom, from(#e9e335), to(#e6e01e));
    background: -ms-linear-gradient(left top, left bottom, from(#e9e335), to(#e6e01e));
    background: -moz-linear-gradient(left top, left bottom, from(#e9e335), to(#e6e01e));
    background: linear-gradient(left top, left bottom, from(#e9e335), to(#e6e01e));
    -webkit-transform: translate(-1px, 1px);
    -ms-transform: translate(-1px, 1px);
    -o-transform: translate(-1px, 1px);
    transform: translate(-1px, 1px); }
  .btn_warning:disabled {
    background: #C0C0C4;
    color: #EFEFEF; }

.btn_info {
  padding: 0 25px;
  line-height: 35px;
  background: #21a0e8;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#21a0e8), to(#1483c2));
  background: -moz-linear-gradient(left top, left bottom, from(#21a0e8), to(#1483c2));
  background: -ms-linear-gradient(left top, left bottom, from(#21a0e8), to(#1483c2));
  background: -moz-linear-gradient(left top, left bottom, from(#21a0e8), to(#1483c2));
  background: linear-gradient(left top, left bottom, from(#21a0e8), to(#1483c2));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px; }
  .btn_info:hover {
    background: #1693d9;
    color: #f2f2f2; }
  .btn_info:active {
    background: #1273ab;
    color: #ebebeb;
    outline: none;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    background: -webkit-gradient(linear, left top, left bottom, from(#21a0e8), to(#1693d9));
    background: -moz-linear-gradient(left top, left bottom, from(#21a0e8), to(#1693d9));
    background: -ms-linear-gradient(left top, left bottom, from(#21a0e8), to(#1693d9));
    background: -moz-linear-gradient(left top, left bottom, from(#21a0e8), to(#1693d9));
    background: linear-gradient(left top, left bottom, from(#21a0e8), to(#1693d9));
    -webkit-transform: translate(-1px, 1px);
    -ms-transform: translate(-1px, 1px);
    -o-transform: translate(-1px, 1px);
    transform: translate(-1px, 1px); }
  .btn_info:disabled {
    background: #C0C0C4;
    color: #EFEFEF; }

.flex-parent {
  display: flex;
  justify-content: center;
  align-items: center; }
  .flex-parent .flex-child {
    margin: 2px;
    flex: auto;
    border: 1px solid skyblue; }

.my-container {
  width: 800px;
  margin: 15px auto; }
  .my-container .dt-call {
    height: 500px; }
    .my-container .dt-call .call-info {
      min-height: 500px;
      height: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
    .my-container .dt-call .call-record {
      height: 100%;
      min-height: 500px;
      flex: 2; }
      .my-container .dt-call .call-record .record-title {
        height: 30px;
        text-align: center;
        border: 1px solid skyblue; }
        .my-container .dt-call .call-record .record-title h4 {
          font-weight: 100;
          line-height: 30px;
          margin: 0px;
          padding: 0px; }
      .my-container .dt-call .call-record .record-container {
        border: 1px solid skyblue;
        height: calc(100% - 33px);
        overflow: hidden; }
        .my-container .dt-call .call-record .record-container .chatMsg {
          height: 100%;
          overflow: auto; }
          .my-container .dt-call .call-record .record-container .chatMsg .he-group,
          .my-container .dt-call .call-record .record-container .chatMsg .me-group {
            margin-top: 25px;
            padding: 10px; }
            .my-container .dt-call .call-record .record-container .chatMsg .he-group .msg,
            .my-container .dt-call .call-record .record-container .chatMsg .me-group .msg {
              position: relative;
              max-width: calc(100% - 70px); }
              .my-container .dt-call .call-record .record-container .chatMsg .he-group .msg .baseInfo,
              .my-container .dt-call .call-record .record-container .chatMsg .me-group .msg .baseInfo {
                position: absolute;
                top: -25px;
                min-width: 250px;
                margin: 0px 10px;
                width: 100%;
                font-size: 14px; }
              .my-container .dt-call .call-record .record-container .chatMsg .he-group .msg .cont,
              .my-container .dt-call .call-record .record-container .chatMsg .me-group .msg .cont {
                background: #9EEA6A;
                margin: 0px 10px;
                padding: 10px;
                min-height: 42px;
                position: relative;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px; }
                .my-container .dt-call .call-record .record-container .chatMsg .he-group .msg .cont pre,
                .my-container .dt-call .call-record .record-container .chatMsg .me-group .msg .cont pre {
                  white-space: pre-wrap;
                  word-break: normal;
                  white-space: pre-wrap;
                  word-break: normal;
                  overflow: visible;
                  background: transparent;
                  border: 0px;
                  padding: 0px;
                  margin: 0px;
                  min-width: 100px; }
                .my-container .dt-call .call-record .record-container .chatMsg .he-group .msg .cont > img,
                .my-container .dt-call .call-record .record-container .chatMsg .me-group .msg .cont > img {
                  max-width: 300px; }
                .my-container .dt-call .call-record .record-container .chatMsg .he-group .msg .cont:before, .my-container .dt-call .call-record .record-container .chatMsg .he-group .msg .cont:after,
                .my-container .dt-call .call-record .record-container .chatMsg .me-group .msg .cont:before,
                .my-container .dt-call .call-record .record-container .chatMsg .me-group .msg .cont:after {
                  position: absolute;
                  top: 10px;
                  display: inline-block;
                  content: "";
                  width: 0;
                  height: 0; }
            .my-container .dt-call .call-record .record-container .chatMsg .he-group .head-img,
            .my-container .dt-call .call-record .record-container .chatMsg .me-group .head-img {
              width: 45px;
              height: 45px;
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              border-radius: 5px; }
          .my-container .dt-call .call-record .record-container .chatMsg .he-group .msg {
            float: left; }
            .my-container .dt-call .call-record .record-container .chatMsg .he-group .msg .baseInfo {
              left: 0px; }
            .my-container .dt-call .call-record .record-container .chatMsg .he-group .msg .cont:before {
              left: -10px;
              border-top: 10px solid transparent;
              border-bottom: 10px solid transparent;
              border-right: 10px solid #9EEA6A; }
          .my-container .dt-call .call-record .record-container .chatMsg .he-group .head-img {
            float: left; }
          .my-container .dt-call .call-record .record-container .chatMsg .me-group .msg {
            float: right; }
            .my-container .dt-call .call-record .record-container .chatMsg .me-group .msg .baseInfo {
              right: 0px;
              text-align: right; }
            .my-container .dt-call .call-record .record-container .chatMsg .me-group .msg .cont:after {
              right: -10px;
              border-top: 10px solid transparent;
              border-bottom: 10px solid transparent;
              border-left: 10px solid #9EEA6A; }
          .my-container .dt-call .call-record .record-container .chatMsg .me-group .head-img {
            float: right; }
          .my-container .dt-call .call-record .record-container .chatMsg .clearfix {
            display: table;
            clear: both; }

/*# sourceMappingURL=index_sass.css.map */
