@import "../../sass/mixins";
@import "../../sass/mixins/button";
.orderlist {
    a {
        text-decoration: none;
    }
    .cell {
        background: #fff;
        margin-bottom: 1.5rem;
        .list_title {
            display: flex;
            height: 4rem;
            >div {
                flex: 1;
                padding: 0px 1.2rem;
                align-self: center;
                font-size: 1.5rem;
                color: #000;
            }
            >div:first-child {
                text-align: left;
            }
            >div:last-child {
                text-align: right;
                color: #4590ec;
            }
        }
        hr {
            margin: 0px;
            margin-left: .7rem;
        }
        .media {
            background: #fff;
            margin-top: 0px;
            padding: 1rem 0px;
            padding-left: .7rem;
            .media-left {}
            .media-body {
                >h3 {
                    font-size: 1.6rem;
                    color: #000;
                    small {
                        color: #666;
                        margin-left: .5rem;
                        font-size: 1.3rem;
                    }
                    >span {
                        float: right;
                        margin-right: .7rem;
                    }
                }
                p {
                    font-size: 1.3rem;
                    color: #333;
                    padding-right: .7rem;
                    margin: .5rem 0px;
                    &:last-child {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
    img {
        width: 4.8rem;
        height: 4.8rem;
        @include radius(50%);
    }
}